body{
    background-color: #f5ee93;
}

.mohikan{
    width: 80%;
    border-radius: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: #a79e4f;
    margin: 1em auto;
    
}

.mohikan img {
    width: 700px;
    margin: 3em;
    float: right;
    border-style:ridge;
    border-width: 32px;
    border-color: #ada74e;
    max-width: 80%;
    height: auto;
        
    
}

h2{
    border-bottom: 3px solid rgb(138, 105, 77);
    margin-left: 40px ;
    margin-right: 40px ;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: brown;
}

.valos{
    width: 80%;
    border-radius: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: #a79e4f;
    margin: 1em auto;
    
}

.valos img {
    width: 400px;
    margin: 3em;
    float: left;
    border-style:ridge;
    border-width: 32px;
    border-color: #ada74e;
    max-width: 80%;
    height: auto;
        
    
}

.szereplok{
    width: 80%;
    border-radius: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: #a79e4f;
    margin: 1em auto;
}

.szereplok img {
    width: 600px;
    margin: 3em;
    float: left;
    border-style:ridge;
    border-width: 32px;
    border-color: #ada74e;
    max-width: 80%;
    height: auto;
    
    
}

h1{
    background-color: #f0e550;
    
    opacity: 80%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: brown;

    
}

.navbar{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card-title{
    color: rgb(71, 52, 52);
    text-decoration:underline;
}